@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  font-family: "Anek Latin";
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
